[Unit]
Description=Chameleon Enclosure Monitoring System
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/cems

[Install]
WantedBy=multi-user.target
